* { box-sizing: border-box; }

/* body */
body {text-align:center; font-family:'Times New Roman'}

/* Main wrapper */ 
.wrapper {margin:auto; margin-top:10px; margin-bottom:10px; max-width:1000px}

/* Logo border */ 
.logo {margin:auto; margin-bottom:40px}

/* Links */
a {text-decoration: underline; color: #999}
a:hover {text-decoration-style: wavy}

/* Navegator */ 
nav ul {font-family:'Helvetica'; padding: 0px; list-style: none; font-weight: bold; margin: auto; margin-bottom: 40px}
nav li {display: inline; margin-right: 10px; margin-left: 10px}

/* Titles for each page */ 
h1 {font-size: 3em}

/* Slideshow */ 
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px; width:13px; padding:0}

/* block text */
.block_text {margin:auto; margin-top:30px; width:70%}

table#table1 {text-align:center; width:200px; height:100px; margin: 0 auto; float: center; border-spacing: 0px}

tr,td {text-align:left;}

div.block {background: rgb(255, 255, 255); text-align: center; margin: 0 auto; width:100%}

/* Superscript */
sup {font-size: 0.83em; vertical-align: super; line-height: 0}

p {font-size: 1.1em; line-height: 1.3em; color: #333}

table {margin: 1em 1em 1em 1em}

table.pub {
    margin: 1em 1em 1em 1em;
    margin: 0 auto;
    float: center; 
    width: 600px; 
    border-spacing: 0px;
}

table.res {
    margin: 1em 1em 1em 1em;
    margin: 0 auto;
    float: center; 
    width: 800px; 
    border-spacing: 0px;
    border-spacing: 10px 10px;
}
