<!DOCTYPE html>
<html>

	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
		<div class="wrapper">

			<a href="http://cropsunl.github.io/"><img src="/CROPS_letterhead.jpg" width="500" class="logo"></a>

			<nav>
			<ul>
			<li>{</li>
			<li><a href="/">Home</a></li>
			<li><a href="/Writing_workshop_2019">Writing Workshop 2019</a></li>
			<li>}</li>
			</ul>
			</nav>			

			{{ content }}

		</div>	 
	</body>

</html>
